/* ---------- font families importation from google fonts --------- */

@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Poppins:wght@100;200;300&family=Roboto+Slab:wght@300&display=swap");

/* ---------- /font families importation from google fonts --------- */

/* ---------- reset ---------- */
* > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", cursive;
}
h1 {
  font-size: 3.5em;
  line-height: 1em;
  color: #222;
}
h2 {
  font-size: 3em;
  line-height: 1em;
  color: #222;
}
h4 {
  font-size: 1em;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 0.8em;
}
p {
  font-size: 0.8em;
  color: #465b52;
  margin: 15px 0 20px 0;
}
a {
  text-decoration: none;
  color: #000;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  /* border-radius: 4px; */
  cursor: pointer;
  /* border: none; */
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

footer .install .row img {
  cursor: pointer;
}
footer .install img {
  cursor: pointer;
}

/* ---------- /reset ---------- */

/* header start */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  /* font-family: 'Poppins', sans-serif; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
  /* text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4); */
}
#navbar li a:hover {
  color: #03fac0;
}
#navbar li a:hover,
#navbar li a.active {
  color: #1d0af3;
  transition: 0.1s ease;
  border-bottom: 3px solid#ef3636;
}
#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* home page */
#hero {
  background-image: url("img/hero6.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-shadow: 2px 2px 10px black;
}
#hero h4 {
  padding-bottom: 15px;
  
}
#hero h1 {
  color: #03faa0;
}
/* #hero h2{
    color: #fa6e03;
} */
#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #5103fa;
  border: 0;
  padding: 10px 80px 20px 65px;
  font-weight: 600;
  font-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
#feature .fe-box {
  width: 190px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #03faa0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  cursor: pointer;
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
#feature .fe-box img:hover {
  scale: 1.3;
}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  padding: 0px 7px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: transparent;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #ef3636;
}
#banner button:hover {
  background-color: #03faa0;
  color: #fff;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
  background-image: url("img/banner/b17.jpg");
  min-width: 630px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box2 {
  background-image: url("img/banner/b10.jpg");
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
  /* color: #000; */
  border: 1px solid #088178;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
  background-image: url("img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}
#banner3 .banner-box2 {
  background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3 {
  background-image: url("img/banner/b18.jpg");
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}
#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* @@@@@@@@@@@@@@@@ shope page @@@@@@@@@@@@@@@@@@ */

#page-header {
  background-image: url("img/banner/b1.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}
#pagination {
  text-align: center;
}
#pagination a {
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* single product */
#prodetails .single-pro-img {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details button {
  background-color: #088178;
  color: #fff;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details select:focus {
  outline: none;
}
#prodetails .single-pro-details span {
  line-height: 25px;
}

/* @@@@@@@@@@@@@@@@ blog page @@@@@@@@@@@@@@@@@@@@ */

#page-header2 {
  background-image: url("img/banner/b19.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px;
}
#page-header2 h2,
#page-header2 p {
  color: #fff;
}

#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
}
#blog .blog-details a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s ease;
}
#blog .blog-details a:after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 10px;
  right: -60px;
}
#blog .blog-details a:hover {
  color: #088178;
}
#blog .blog-details a:hover::after {
  background-color: #088178;
}
#blog .blog-box h1 {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbc0;
  z-index: -1;
}

/* @@@@@@@@@@@@@@@@@ about page @@@@@@@@@@@@@@@@@ */
#pg2 {
  background-image: url("img/about/banner.png");
  height: 40vh;
  width: 100%;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px;
}
#pg2 h2,
#pg2 p {
  color: #fff;
}

#about-head {
  display: flex;
  align-items: center;
}
#about-head div {
  padding-left: 40px;
}
#about-head img {
  width: 50%;
  height: auto;
}

#about-app {
  text-align: center;
}
#about-app a {
  color: blue;
  text-decoration: underline;
  font-weight: 900;
  font-size: 40px;
}
#about-app h1 {
  font-weight: 900;
  font-size: 40px;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  /* margin-top: 30px; */
  border-radius: 20px;
}
/* @@@@@@@@@@@@@@ contact page @@@@@@@@@@@@@@@@@@ */
#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#form-details form button {
  background-color: #088178;
  color: #fff;
}
#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}
/* @@@@@@@@@@@@@ cart page @@@@@@@@@@@@ */

#cart{
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
#cart table img {
  width: 78px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align-last: center;
}
#cart table td:nth-child(2) {
  width: 150px;
  text-align-last: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align-last: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align-last: center;
}
#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  font-size: 13px;
}
#cart-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button {
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/* ---------- media queries ---------- */
/* @media (min-width:477px) and (max-width:885px){ */
@media (max-width: 885px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.45s ease;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
    cursor: pointer;
  }
  #close {
    position: absolute;
    display: initial;
    top: 30px;
    left: 30px;
    font-size: 24px;
    color: #222;
  }
  #lg-bag {
    display: none !important;
  }
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  .section-p1 {
    padding: 40px 40px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 20px 15px;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }
  #about-head {
    display: flex;
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
  }
  #about-head div {
    padding-left: 0px;
  }

  /* contact page */
  #form-details {
    padding: 40px;
  }
  #form-details form {
    width: 50%;
  }
}

@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  .section-p1 {
    padding: 20px;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #feature {
    justify-content: space-between;
    align-items: center;
  }

  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #newsletter .form {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
  footer .copyright {
    text-align: start;
  }
  /* single product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-img {
    width: 100% !important;
    /* margin-right: 50px; */
  }
  #prodetails .single-pro-details {
    width: 100%;
    padding-top: 30px;
  }

  /* blog page */
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-img {
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }

  /* about page */
  #about-head {
    display: flex;
    flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-app .video {
    width: 100%;
  }
  #about-app video {
    width: 100%;
  }
  #feature .fe-box {
    width: 128px;
  }
  #about-app h1 {
    font-weight: 900;
    font-size: 25px;
  }
  #about-app a {
    font-weight: 900;
    font-size: 30px;
  }
  #feature .fe-box h6 {
    font-size: 0.6em;
  }
  /* contact page */

  #contact-details {
    flex-direction: column;
  }
  #contact-details .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contact-details .map {
    width: 100%;
  }
  #form-details {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }

  /*  cart page */
  #cart-add{
    flex-direction: column;
  }
  #coupon{
    width: 100%;
  }
  #subtotal{
    width: 100%;
    padding: 20px;
  }
  
}
